body {
    background-color: snow;
    font-family: Verdana, sans-serif;
}

#tartalom, header, footer, nav, table {
    padding: 20px;
    margin: 10px auto;
    border: 1px solid steelblue;
    max-width: 1280px;
}

h1 {
    color: steelblue;
    text-transform: uppercase;
}

h2 {
    border-bottom: 1px solid steelblue;
    width: 60%;
    padding: 10px;
    color: steelblue;
    font-variant: small-caps;
}

p {
    text-align: justify;
    line-height: 150%;
    text-indent: 30px;
}

img {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid steelblue;
}

.foto {
    float: right;
    margin: 10px;
    padding: 20px;
    border: 1px solid steelblue;
}

.kepalairas {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    line-height: 0em;
    text-indent: 0px;
}

a {
    color: steelblue;
}

a:hover {
    color: navy;
    text-decoration: none;
}